

.field{
    margin: 25px;
}

label{
    width: 150px;
}

input[type="text"], input[type="Date"], select{
    padding: 5px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

input[type="text"]:hover, input[type="Date"]:hover, select:hover{
    border-color: chocolate;
}

input[type="text"]:focus{
    box-shadow: 2px 2px 3px 2px darkorange, -2px -2px 3px 2px darkorange;
}


input[type="button"]{
    padding: 20px;
    background-color: transparent;
    border-width: thin;
    width: 100%;
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

input[type="button"]:hover{
    background-color: darkorange;
    color: white;
}

.display-2{
    font-size: 3.5rem;
}


@media screen and (min-width: 768px) {
    .jumbotron{
        background: transparent;
    }

    .jumbotron p{
        z-index: 3;
    }

    .jumbotron .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("http://localhost/hpharma/assets/img/backgrounds/johny-georgiadis-3ewkNkfJj2k-unsplash.jpg");
        background-position: 0% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
         -o-filter: blur(5px);
         -ms-filter: blur(5px);
         filter: blur(5px) opacity(0.5);
         z-index: -1;
    }

    .card{
        /* margin-top: -300px; */
        margin-bottom: 30px;
    }

    .display-2{
        font-size: 5rem;
    }

    .form-container{
        width: 50%;
    }
}