* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.navbar-nav li a {
  color: white;
}

.cards .card {
  margin: 15px auto;
  padding: 15px;
  height: 300px;
  width: 320px;
  text-decoration: none;
  color: black;
}

.cards a img {
  display: block;
  margin: auto;
}

.cards a:hover {
  background-color: darkorange;
}

.service-msg {
  margin-top: 10px;
  font-size: 1.8rem;
}

.request hr {
  width: 20%;
  margin: auto;
  border-color: brown;
}

.profile .card {
  width: 320px;
  height: 300px;
  margin: 25px auto;
}

.profile .card p{
  margin: 25px;
}

/* media queries */
@media screen and (min-width: 768px) {
  .carousel-inner {
    height: 65vh;
  }

  .cards,
  .profile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .cards a {
    transition: all 0.3s ease-in;
  }

  .cards a:hover {
    border-radius: 20px;
  }

  .service-msg {
    font-size: 3rem;
  }

  .jumbotron {
    background: transparent;
  }

  .jumbotron p {
    z-index: 3;
  }

  .jumbotron .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://localhost/hpharma/assets/img/backgrounds/doctors-lineup.jpeg");
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px) opacity(0.7);
    z-index: -1;
  }
}
